<%= button_to "Create New User", register_path, method: :get %>
<%= button_to "Login", login_path, method: :get %>

<section class='existing-users'>
    <p>Existing Users: </p>
    <% @users.each do |user| %>
        <li><%= link_to user.email, user_path(user.id) %></li>
    <% end %>
</section>